<div class="container">
    <div class="row">
        <section>
            <div class="wizard">
                <div class="wizard-inner">
                    <div class="connecting-line"></div>
                    <ul class="nav nav-tabs" role="tablist">

                        <li role="presentation" class="active">
                            <a href="#step1" data-toggle="tab" aria-controls="step1" role="tab" title="Distribuição de frequência">
                                <span class="round-tab">
                                    <i class="glyphicon glyphicon-list-alt"></i>
                                </span>
                            </a>
                        </li>

                        <li role="presentation">
                            <a href="#step2" data-toggle="tab" aria-controls="step2" role="tab" title="Medidas de Tendência Central">
                                <span class="round-tab">
                                    <i class="glyphicon glyphicon-signal"></i>
                                </span>
                            </a>
                        </li>
                        <li role="presentation">
                            <a href="#step3" data-toggle="tab" aria-controls="step3" role="tab" title="Medidas de Dispersão">
                                <span class="round-tab">
                                    <i class="glyphicon glyphicon-picture"></i>
                                </span>
                            </a>
                        </li>

                        <li role="presentation">
                            <a href="#complete" data-toggle="tab" aria-controls="complete" role="tab" title="Amostragem e Estimadores">
                                <span class="round-tab">
                                    <i class="glyphicon glyphicon-ok"></i>
                                </span>
                            </a>
                        </li>
                    </ul>
                </div>

                @*<form role="form">*@
                @using (Html.BeginForm())
                {
                    <div class="tab-content">
                        <div class="tab-pane active" role="tabpanel" id="step1">
                            <div class="row">
                                <div class="col-lg-12 col-md-12 col-sm-12">
                                    <div class="col-lg-3 col-md-3 col-sm-3">
                                        @Html.DropDownList("comboDistribuicao", ViewBag.Opcoes as SelectList, "Selecione...", new { @class = "form-control" })
                                    </div>
                                    <div class="col-lg-3 col-md-3 col-sm-3">
                                        <input type="submit" value="Procurar" class="btn btn-default" />
                                    </div>
                                </div>
                            </div>

                            <br />

                            <div class="row">
                                <div class="col-lg-12 col-md-12 col-sm-12">
                                    @{
                                        if (Model.AtividadesFeitas == null)
                                        {
                                            @Html.Partial("PaineisAtividades/_PartialAtvTodas")
                                        }
                                        else
                                        {
                                            if (Model.todas.Equals("todas"))
                                            {
                                                @Html.Partial("PaineisAtividades/_PartialAtvTodas")
                                            }
                                            else
                                            {
                                                if (Model.todas.Equals("todasPendentes"))
                                                {
                                                    @Html.Partial("PaineisAtividades/_PartialAtvTodas")

                                                    foreach (var atividadesFeitas in Model.AtividadesFeitas)
                                                    {
                                                        <script>
                                                            $(document).ready(function () {
                                                                $("#@atividadesFeitas.NomeAtv" + "Painel").remove();
                                                            });
                                                        </script>
                                                    }
                                                }
                                                else
                                                {
                                                    <div class="row">
                                                        <div class="col-lg-12 col-md-12 col-sm-12">
                                                            @Html.Partial("PaineisAtividades/_PartialAtv" + (string)Model.todas)
                                                        </div>
                                                    </div>
                                                }
                                            }
                                        }
                                    }
                                </div>
                            </div>

                            <ul class="list-inline pull-right">
                                <li><button type="button" class="btn btn-primary next-step form-group">Proximo >></button></li>
                            </ul>
                        </div>
                        <div class="tab-pane" role="tabpanel" id="step2">
                            <h3>Step 2</h3>
                            <p>This is step 2</p>
                            <ul class="list-inline pull-right">
                                <li><button type="button" class="btn btn-default prev-step form-group"><< Voltar</button></li>
                                <li><button type="button" class="btn btn-primary next-step form-group">Proximo >></button></li>
                            </ul>
                        </div>
                        <div class="tab-pane" role="tabpanel" id="step3">
                            <h3>Step 3</h3>
                            <p>This is step 3</p>
                            <ul class="list-inline pull-right">
                                <li><button type="button" class="btn btn-default prev-step form-group"><< Voltar</button></li>
                                <li><button type="button" class="btn btn-primary btn-info-full next-step form-group">Proximo >></button></li>
                            </ul>
                        </div>
                        <div class="tab-pane" role="tabpanel" id="complete">
                            <h3>Complete</h3>
                            <p>You have successfully completed all steps.</p>
                        </div>
                        <div class="clearfix"></div>
                    </div>
                                        }
                @*</form>*@
            </div>
        </section>
    </div>
</div>
