@model dynamic

<head>
    <link href="~/Content/wizard.css" rel="stylesheet" />
    <script src="~/scripts/wizard.js"></script>
    <script src="~/scripts/botoes-topico.js"></script>
    <link href="~/Content/topico.css" rel="stylesheet" />
    <link href="~/Content/corpo-padrao.css" rel="stylesheet" />
    <link href="~/Content/panel.css" rel="stylesheet" />
    <script src="~/scripts/jquery.unobtrusive-ajax.min.js"></script>
    <link href="~/Content/font-awesome-4.6.3/css/font-awesome.min.css" rel="stylesheet" />
</head>

@{
    ViewBag.Title = "Atividades";
    Layout = "~/Views/Shared/_LayoutPadrao.cshtml";
}

<div class="container">
    <div class="row">
        <div class="col-lg-12 col-md-12 col-sm-12">
            <div class="text-center">
                <h2>Atividades</h2>
                <HR NOSHADE WIDTH=250>
            </div>
        </div>
    </div>
    <div class="row">
        @*<section>*@
            <div class="wizard">
                <div class="wizard-inner">
                    <div class="connecting-line"></div>
                    <ul class="nav nav-tabs" role="tablist">

                        <li id="presentation1" role="presentation">
                            <a href="#step1" data-toggle="tab" aria-controls="step1" role="tab" title="Distribuição de frequência">
                                <span class="round-tab">
                                    <i class="fa fa-pie-chart"></i>
                                </span>
                            </a>
                        </li>

                        <li id="presentation2" role="presentation">
                            <a href="#step2" data-toggle="tab" aria-controls="step2" role="tab" title="Medidas de Tendência Central">
                                <span class="round-tab">
                                    <i class="fa fa-area-chart"></i>
                                </span>
                            </a>
                        </li>
                        <li id="presentation3" role="presentation">
                            <a href="#step3" data-toggle="tab" aria-controls="step3" role="tab" title="Medidas de Dispersão">
                                <span class="round-tab">
                                    <i class="fa fa-line-chart"></i>
                                </span>
                            </a>
                        </li>

                        <li id="presentation4" role="presentation">
                            <a href="#complete" data-toggle="tab" aria-controls="complete" role="tab" title="Amostragem e Estimadores">
                                <span class="round-tab">
                                    <i class="fa fa-google-wallet"></i>
                                </span>
                            </a>
                        </li>
                    </ul>
                </div>

                <div class="tab-content">
                    <div class="tab-pane" role="tabpanel" id="step1">
                        @using (Html.BeginForm())
                        {
                            <div class="row">
                                <div class="col-lg-12 col-md-12 col-sm-12">
                                    <div class="col-lg-3 col-md-3 col-sm-3">
                                        @Html.DropDownList("comboDistribuicao", ViewBag.opcoesDistribuicao as SelectList, "Selecione...", new { @class = "form-control", @onchange = "ComboDistribuicao(this.value)" })
                                    </div>
                                    <div class="col-lg-3 col-md-3 col-sm-3">
                                        <input id="btnPresentation1" type="submit" value="Procurar" class="btn btn-default" />
                                    </div>                       
                                </div>
                            </div>

                            <div class="row">
                                <div class="col-lg-12 col-md-12 col-sm-12 text-right">
                                    <h3>
                                        @{
                                            var feitosDist = Model.Aluno.PontosFeitosDistribuicao;
                                            var totalDist = Model.Aluno.PontosDistribuicao;
                                            var faltanteDist = totalDist - feitosDist;
                                        }
                                        <span class="label label-success" title="Pontos Feitos">@feitosDist</span>
                                        <span class="label label-danger" title="Pontos Pendentes">@faltanteDist</span>
                                        <span class="label label-info" title="Pontos Possiveis">@totalDist</span>
                                    </h3>
                                </div>
                            </div>

                            <br />

                            <div>
                                @{
                                    //if (Model.todasAtividadesDistribuicao != null)
                                    //{
                                    foreach (var atvDistribuicao in Model.todasAtividadesDistribuicao)
                                    {
                                        <div class="col-sm-3 col-md-3 col-lg-3">
                                            <div id="@atvDistribuicao.IdAtividade" class="offer offer-danger">
                                                <div class="shape">
                                                    <div class="shape-text">
                                                        <span id="@atvDistribuicao.NomeAtv">@atvDistribuicao.Nota</span>
                                                    </div>
                                                </div>
                                                <div class="offer-content">
                                                    <h4>
                                                        <strong>@atvDistribuicao.DescricaoTitulo</strong>
                                                    </h4>
                                                    <strong>@atvDistribuicao.DescricaoSubTitulo</strong>
                                                    <p>
                                                        @atvDistribuicao.DescricaoAtividade
                                                        <br>
                                                    </p>
                                                </div>
                                            </div>
                                        </div>
                                        }
                                    //}


                                    if (Model.atividadesFeitasDistribuicao != null)
                                    {
                                        foreach (var atvFeitasDistribuicao in Model.atividadesFeitasDistribuicao)
                                        {
                                            <script>
                                                $(document).ready(function () {
                                                    $("#@atvFeitasDistribuicao.Atividade.IdAtividade").removeClass("offer-danger").addClass("offer-success");
                                                });
                                            </script>
                                        }
                                    }
                                }
                            </div>

                            <ul class="list-inline pull-right">
                                <li><button type="button" class="btn btn-primary next-step form-group">Proximo >></button></li>
                            </ul>
                                    }
                    </div>


                    <div class="tab-pane" role="tabpanel" id="step2">
                        @using (Html.BeginForm())
                        {
                            <div class="row">
                                <div class="col-lg-12 col-md-12 col-sm-12">
                                    <div class="col-lg-3 col-md-3 col-sm-3">
                                        @Html.DropDownList("comboTendencia", ViewBag.OpcoesTendencia as SelectList, "Selecione...", new { @class = "form-control" })
                                    </div>
                                    <div class="col-lg-3 col-md-3 col-sm-3">
                                        <input id="btnPresentation2" type="submit" value="Procurar" class="btn btn-default" />
                                    </div>
                                </div>
                            </div>

                            <div class="row">
                                <div class="col-lg-12 col-md-12 col-sm-12 text-right">
                                    <h3>
                                        @{
                                            var feitosTend = Model.Aluno.PontosFeitosMedidasDeTendenciaCentral;
                                            var totalTend = Model.Aluno.PontosMedidasDeTendenciaCentral;
                                            var faltanteTend = totalTend - feitosTend;
                                        }
                                        <span class="label label-success" title="Pontos Feitos">@feitosTend</span>
                                        <span class="label label-danger" title="Pontos Pendentes">@faltanteTend</span>
                                        <span class="label label-info" title="Pontos Possiveis">@totalTend</span>
                                    </h3>
                                </div>
                            </div>

                            <br />

                            <div>
                                @{
                                    foreach (var atvTendencia in Model.todasAtividadesTendencia)
                                    {
                                        <div class="col-xs-12 col-sm-6 col-md-4 col-lg-3">
                                            <div id="@atvTendencia.IdAtividade" class="offer offer-danger">
                                                <div class="shape">
                                                    <div class="shape-text">
                                                        <span id="@atvTendencia.NomeAtv">@atvTendencia.Nota</span>
                                                    </div>
                                                </div>
                                                <div class="offer-content">
                                                    <h4>
                                                        <strong>@atvTendencia.DescricaoTitulo</strong>
                                                    </h4>
                                                    <strong>@atvTendencia.DescricaoSubTitulo</strong>
                                                    <p>
                                                        @atvTendencia.DescricaoAtividade
                                                        <br>
                                                    </p>
                                                </div>
                                            </div>
                                        </div>
                                    }

                                    if (Model.atividadesFeitasTendencia != null)
                                    {
                                        foreach (var atvFeitasTendencia in Model.atividadesFeitasTendencia)
                                        {
                                            <script>
                                                $(document).ready(function () {
                                                    $("#@atvFeitasTendencia.Atividade.IdAtividade").removeClass("offer-danger").addClass("offer-success");
                                                });
                                            </script>
                                        }
                                    }
                                }
                            </div>
                            <ul class="list-inline pull-right">
                                <li><button type="button" class="btn btn-default prev-step form-group"><< Voltar</button></li>
                            </ul>
                                    }
                    </div>

                    <div class="tab-pane text-center" role="tabpanel" id="step3">
                        <h3>Medidas de Dispersão</h3>
                    </div>

                    <div class="tab-pane text-center" role="tabpanel" id="complete">
                        <h3>Amostragem e Estimadores</h3>
                    </div>
                    <div class="clearfix"></div>
                </div>
            </div>
        @*</section>*@
    </div>
</div>


<script>
    function redirecionaTopico(x) {
        if (x == 1) {
            $("#presentation1").addClass("active");
            $("#step1").addClass("active");
        }
        else {
            if (x == 2) {
                $("#presentation2").addClass("active");
                $("#step2").addClass("active");
            }
        }
    }
</script>


<script>
    @{int x = (int)Model.Aluno.topicoSelecionadoAtv; }
    redirecionaTopico(@x);
</script>

