@model dynamic

<head>
    <link href="~/Content/wizard.css" rel="stylesheet" />
    <script src="~/scripts/wizard.js"></script>
    <script src="~/scripts/botoes-topico.js"></script>
    <link href="~/Content/topico.css" rel="stylesheet" />
    <link href="~/Content/corpo-padrao.css" rel="stylesheet" />
    <link href="~/Content/panel.css" rel="stylesheet" />
    <script src="~/scripts/jquery.unobtrusive-ajax.min.js"></script>
</head>

@{
    ViewBag.Title = "Atividades";
    Layout = "~/Views/Shared/_LayoutPadrao.cshtml";
}

<div id="divContainer" class="container">
    <div class="text-center">
        <h2>Atividades</h2>
        <HR NOSHADE WIDTH=250>
    </div>
    <div class="row">
        <section>
            <div class="wizard">
                <div class="wizard-inner">
                    <div class="connecting-line"></div>
                    <ul class="nav nav-tabs" role="tablist">

                        <li id="presentation1" role="presentation">
                            <a href="#step1" data-toggle="tab" aria-controls="step1" role="tab" title="Distribuição de frequência">
                                <span class="round-tab">
                                    <i class="glyphicon glyphicon-list-alt"></i>
                                </span>
                            </a>
                        </li>

                        <li id="presentation2" role="presentation">
                            <a href="#step2" data-toggle="tab" aria-controls="step2" role="tab" title="Medidas de Tendência Central">
                                <span class="round-tab">
                                    <i class="glyphicon glyphicon-signal"></i>
                                </span>
                            </a>
                        </li>
                        <li id="presentation3" role="presentation">
                            <a href="#step3" data-toggle="tab" aria-controls="step3" role="tab" title="Medidas de Dispersão">
                                <span class="round-tab">
                                    <i class="glyphicon glyphicon-picture"></i>
                                </span>
                            </a>
                        </li>

                        <li id="presentation4" role="presentation">
                            <a href="#complete" data-toggle="tab" aria-controls="complete" role="tab" title="Amostragem e Estimadores">
                                <span class="round-tab">
                                    <i class="glyphicon glyphicon-ok"></i>
                                </span>
                            </a>
                        </li>
                    </ul>
                </div>


                @*<script>
                    function ComboDistribuicao(escolha) {
                        var url = "/Aluno/Atividades";
                        $.post(url, { comboDistribuicao: escolha }, function (data) {

                            //html.empty();
                            //$(document).empty();
                            //$("#bodyCompleto").html(data);
                            //location.reload(data);

                            alert(escolha);
                        });
                    }
                </script>*@

                @*<script>
                    function ComboDistribuicao(escolha) {
                        var url = "/Aluno/Atividades";
                        $.post(url, { comboDistribuicao: escolha }, function (data) {

                            alert(escolha);
                        });
                    }
                </script>*@


                <div class="tab-content">
                    <div class="tab-pane" role="tabpanel" id="step1">
                        @using (Html.BeginForm())
                        {
                            <div class="row">
                                <div class="col-lg-12 col-md-12 col-sm-12">
                                    <div class="col-lg-3 col-md-3 col-sm-3">
                                        @Html.DropDownList("comboDistribuicao", ViewBag.opcoesDistribuicao as SelectList, "Selecione...", new { @class = "form-control", @onchange = "ComboDistribuicao(this.value)" })
                                    </div>
                                    <div class="col-lg-3 col-md-3 col-sm-3">
                                        <input id="btnPresentation1" type="submit" value="Procurar" class="btn btn-default" />
                                    </div>
                                </div>
                            </div>

                                <br />

                                <div class="row">
                                    <div class="col-lg-12 col-md-12 col-sm-12">
                                        @{
                                            foreach (var atvDistribuicao in Model.todasAtividadesDistribuicao)
                                            {
                                                <div class="col-xs-12 col-sm-6 col-md-4 col-lg-3">
                                                    <div id="@atvDistribuicao.IdAtividade" class="offer offer-danger">
                                                        <div class="shape">
                                                            <div class="shape-text">
                                                                <span id="@atvDistribuicao.NomeAtv">@atvDistribuicao.Nota</span>
                                                            </div>
                                                        </div>
                                                        <div class="offer-content">
                                                            <h4>
                                                                <strong>@atvDistribuicao.DescricaoTitulo</strong>
                                                            </h4>
                                                            <p>
                                                                @atvDistribuicao.DescricaoAtividade
                                                                <br>
                                                            </p>
                                                        </div>
                                                    </div>
                                                </div>
                                            }

                                            foreach (var atvFeitasDistribuicao in Model.atividadesFeitasDistribuicao)
                                            {
                                                <script>
                                                    $(document).ready(function () {
                                                        $("#@atvFeitasDistribuicao.Atividade.IdAtividade").removeClass("offer-danger").addClass("offer-success");
                                                    });
                                                </script>
                                            }
                                        }
                                    </div>
                                </div>

                                <ul class="list-inline pull-right">
                                    <li><button type="button" class="btn btn-primary next-step form-group">Proximo >></button></li>
                                </ul>
                                            }
                    </div>


                    <div class="tab-pane" role="tabpanel" id="step2">
                        @using (Html.BeginForm())
                        {
                            <div class="row">
                                <div class="col-lg-12 col-md-12 col-sm-12">
                                    <div class="col-lg-3 col-md-3 col-sm-3">
                                        @Html.DropDownList("comboTendencia", ViewBag.OpcoesTendencia as SelectList, "Selecione...", new { @class = "form-control" })
                                    </div>
                                    <div class="col-lg-3 col-md-3 col-sm-3">
                                        <input id="btnPresentation2" type="submit" value="Procurar" class="btn btn-default" />
                                    </div>
                                </div>
                            </div>

                                <br />

                                <div class="row">
                                    <div class="col-lg-12 col-md-12 col-sm-12">
                                        @{
                                            foreach (var atvTendencia in Model.todasAtividadesTendencia)
                                            {
                                                <div class="col-xs-12 col-sm-6 col-md-4 col-lg-3">
                                                    <div id="@atvTendencia.IdAtividade" class="offer offer-danger">
                                                        <div class="shape">
                                                            <div class="shape-text">
                                                                <span id="@atvTendencia.NomeAtv">@atvTendencia.Nota</span>
                                                            </div>
                                                        </div>
                                                        <div class="offer-content">
                                                            <h4>
                                                                <strong>@atvTendencia.DescricaoTitulo</strong>
                                                            </h4>
                                                            <p>
                                                                @atvTendencia.DescricaoAtividade
                                                                <br>
                                                            </p>
                                                        </div>
                                                    </div>
                                                </div>
                                            }

                                            foreach (var atvFeitasTendencia in Model.atividadesFeitasTendencia)
                                            {
                                                <script>
                                                    $(document).ready(function () {
                                                        $("#@atvFeitasTendencia.Atividade.IdAtividade").removeClass("offer-danger").addClass("offer-success");
                                                    });
                                                </script>
                                            }
                                        }
                                    </div>
                                </div>
                                <ul class="list-inline pull-right">
                                    <li><button type="button" class="btn btn-default prev-step form-group"><< Voltar</button></li>
                                    <li><button type="button" class="btn btn-primary next-step form-group">Proximo >></button></li>
                                </ul>
                                            }
                    </div>
                    <div class="tab-pane" role="tabpanel" id="step3">
                        <h3>Step 3</h3>
                        <p>This is step 3</p>
                        <ul class="list-inline pull-right">
                            <li><button type="button" class="btn btn-default prev-step form-group"><< Voltar</button></li>
                            <li><button type="button" class="btn btn-primary btn-info-full next-step form-group">Proximo >></button></li>
                        </ul>
                    </div>
                    <div class="tab-pane" role="tabpanel" id="complete">
                        <h3>Complete</h3>
                        <p>You have successfully completed all steps.</p>
                    </div>
                    <div class="clearfix"></div>
                </div>
            </div>
        </section>
    </div>
</div>

@{
    <script>

        //var x = "";

        //$("#btnPresentation1").click(function () {
        //    x = "distribuicao";
        //})
        //$("#btnPresentation2").click(function () {
        //    x = "tendenciaCentral";
        //})

        function fteste(x) {

            //ViewBag.z = "distribuicao"; Model.Aluno.topicoSelecionadoAtv
            //var x = "distribuicao";
            //var x = Model.Aluno.topicoSelecionadoAtv;
            if (x == 1) {
                $("#presentation1").addClass("active");
                $("#step1").addClass("active");
            }
            else {
                if (x == 2) {
                    $("#presentation2").addClass("active");
                    $("#step2").addClass("active");
                }
            }
        }
    </script>
}

<script>
    @{int x = (int)Model.Aluno.topicoSelecionadoAtv; }
    fteste(@x);
</script>

<script>
    //$("#btnPresentation1").click(function () {
    //    //$("#presentation1").removeClass("active");
    //    $("#presentation1").addClass("active");
    //    alert("teste 1");
    //});
    //$("#btnPresentation2").click(function () {
    //    $("#presentation1").removeClass("active");
    //    $("#presentation2").addClass("active");
    //    alert("teste 2");
    //});
</script>

