@model USJT.Sigma.Model.Aluno

@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Login</title>

    <!--Importamos os scripts do JQuery-->
    <script src="~/Scripts/jquery-2.2.0.min.js"></script>
    <script src="~/Scripts/jquery-ui-1.11.4.min.js"></script>
    <script src="~/Scripts/jquery.maskedinput.min.js"></script>
    <script src="~/Scripts/jquery.validate.min.js"></script>
    <script src="~/Scripts/jquery.validate.unobtrusive.min.js"></script>
    <script src="~/Scripts/bootbox.min.js"></script>
    @*dns*@
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>

    <!--Importamos os scripts do Bootstrap-->
    <script src="~/Scripts/bootstrap.min.js"></script>

    <!--Importamos as bibliotecas de CSS-->
    <link href="~/Content/bootstrap.min.css" rel="stylesheet" />
    <link href="~/Content/bootstrap.yeti.min.css" rel="stylesheet" />
    @*<link href="~/Content/padrao.css" rel="stylesheet" />*@
    <link href="~/Content/estilo.css" rel="stylesheet" />


    @*Inserimos o logo das Abas*@
    @*<link href="~/Content/Images/img_LogoAba.png" rel="shortcut icon" />*@

</head>
<body class="body-margem-top">

    @* INSERIMOS AS MENSAGENS *@
    <section>
        @{
            if (TempData["Mensagem"] != null)
            {
                @Html.Partial("_PartialMensagem")
            }
        }
    </section>

    <!--menu -->
    <nav class="navbar navbar-inverse navbar-fixed-top nav-top">
        <div class="container ">
            <div class="navbar-header transparencia">
                <button type="button" class="navbar-toggle"
                        data-toggle="collapse" data-target="#menu-navegacao">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand nav-brand" href="#carrocel">
                    SIGMA
                    <img alt="Brand" src="~/Content/img/icon_sigma-92.png">
                </a>
            </div>

            <div class="collapse navbar-collapse menu-navegacao" id="menu-navegacao">
                <ul class="nav navbar-nav navbar-right">
                    <li>
                        <a class="" href="#sobre">Sobre</a>
                    </li>
                    <li>
                        <a role="button" data-toggle="collapse" href="#collapseExample" aria-expanded="false" aria-controls="collapseExample">
                            Login
                        </a>

                        <div class="collapse " id="collapseExample">
                            <div class="well">
                                <div class="row ">
                                    @using (Html.BeginForm())
                                    {
                                        <div class="row">
                                            <div class="col-sm-12 col-md-12 col-lg-12 form-group">
                                                @Html.LabelFor(x => x.Usuário, new { @class = "div-log" })
                                                @Html.TextBoxFor(x => x.Usuário, new { @class = "form-control", placeholder = "Usuário", required = "required" })
                                                @Html.ValidationMessageFor(x => x.Usuário)
                                            </div>
                                        </div>

                                        <div class="row">
                                            <div class="col-sm-12 col-md-12 col-lg-12 form-group">
                                                @Html.LabelFor(x => x.Senha, new { @class = "div-log" })
                                                @Html.PasswordFor(x => x.Senha, new { @class = "form-control", placeholder = "Senha", required = "required" })
                                                @Html.ValidationMessageFor(x => x.Senha)
                                            </div>
                                        </div>
                                        <input type="submit" name="logar" id="logar" value="Logar" class="btn btn-lg btn-info" />
                                    }
                                </div>
                            </div>
                        </div>
                    </li>
                </ul>
            </div>
        </div>
    </nav>
    <!--// menu-->
    <!-- slider -->
    <div id="carrocel" class="divslider">
        <div id="carousel-example-generic" class="carousel slide" data-ride="carousel">
            <!-- Indicators -->
            <ol class="carousel-indicators">
                <li data-target="#carousel-example-generic" data-slide-to="0"></li>
                <li data-target="#carousel-example-generic" data-slide-to="1"></li>
                <li data-target="#carousel-example-generic" data-slide-to="2"></li>
            </ol>

            <!-- Wrapper for slides -->
            <div class="carousel-inner" role="listbox">
                <div class="item active">
                    <img src="~/Content/img/slider/slider1_1360-600.png" alt="First slide" class="largura-cheia">

                </div>
                <div class="item">
                    <img src="~/Content/img/slider/slider2_1360-600.png" alt="Second slide" class="largura-cheia">

                </div>
                <div class="item">
                    <img src="~/Content/img/slider/slider3_1360-600.png" alt="Second slide" class="largura-cheia">
                </div>
            </div>

            <!-- Controls -->
            @*<a class="left carousel-control" href="#carousel-example-generic" role="button" data-slide="prev">
                    <span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span>
                    <span class="sr-only">Previous</span>
                </a>
                <a class="right carousel-control" href="#carousel-example-generic" role="button" data-slide="next">
                    <span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>
                    <span class="sr-only">Next</span>
                </a>*@
        </div>
    </div>
    <!--// slider-->
    <!--sobre-->
    <section id="sobre" class="sec-sobre ">
        <div class="container">
            <div class="row">
                <div class="col-xs-12">
                    <div class="page-header text-center">
                        <br />
                        <br />
                        <h1 class="sobre-h1"><strong>MAIS SOBRE O SIGMA</strong></h1>
                    </div>
                </div>
            </div>

            <div class="row">
                <div class="col-md-6">
                    <h4><strong>MISSÃO E VISÃO</strong></h4>
                    <p>texto texto texto texto texto texto texto texto texto texto texto texto texto texto texto texto texto texto texto texto texto texto texto texto texto texto texto texto texto texto texto texto</p>
                    <p>texto texto texto texto texto texto texto texto texto texto texto texto texto texto texto texto texto texto texto texto texto texto texto texto texto texto texto texto texto texto texto texto</p>
                </div>
                <div class="col-md-6">
                    <h4><strong>VALORES</strong></h4>
                    <p>texto texto texto texto texto texto texto texto texto texto texto texto texto texto texto texto texto texto texto texto texto texto texto texto texto texto texto texto texto texto texto texto</p>
                    <p>texto texto texto texto texto texto texto texto texto texto texto texto texto texto texto texto texto texto texto texto texto texto texto texto texto texto texto texto texto texto texto texto</p>
                </div>
            </div>
            @*img-sobre*@
            <div class="row">
                <div class="col-xs-12">
                    <div><img src="~/Content/img/sobre/sobre_1600-400.png" class="img-responsive grayscale" /></div>
                </div>
            </div>
        </div>
    </section>
    @*// sobre*@
    <footer>
        <div class="page-header text-center text-info"><h2>Apredizagem em estatística.</h2></div>
        <div class="container">
            <div class="row">
                <div class="col-xs-12">
                    <img src="~/Content/img/icon_sigma-92.png" class="img-rounded">
                </div>
                <div class="col-xs-12">
                    <p>&copy; Todos os direitos reservados ao<strong> SIGMA</strong></p>
                </div>
            </div>
        </div>
    </footer>
</body>
</html>
