@model dynamic

<head>
    <link href="~/Content/corpo-padrao.css" rel="stylesheet" />
    <script src="~/scripts/medalhas.js"></script>
    <link href="~/Content/panel.css" rel="stylesheet" />
    <link href="~/Content/nivel.css" rel="stylesheet" />
</head>

@{
    ViewBag.Title = "Atividades";
    Layout = "~/Views/Shared/_LayoutPadrao.cshtml";

    <script>
        $(document).ready(function () {
            Medalhas(@Model.Aluno.ProgressoTotal);
        });
    </script>
}

<div class="container">
    <div class="row">
        <div class="col-lg-12 col-md-12 col-sm-12">
            <div class="text-center">
                <h2>Medalhas</h2>
                <HR NOSHADE WIDTH=250>
            </div>
        </div>
    </div>

    <center>
        <div class="row">
            <div class="col-lg-12 col-md-12 col-sm-12 jumbotron">
                <div class="col-lg-3 col-md-3 col-sm-3">
                    <a>
                        <img id="medalhaBronze" src="~/Content/img/Distribuicao/DESABILITADO2.png" />
                    </a>
                    <p>Bronze</p>
                </div>
                <div class="col-lg-3 col-md-3 col-sm-3">
                    <a>
                        <img id="medalhaPrata" src="~/Content/img/Distribuicao/DESABILITADO2.png" />
                    </a>
                    <p>Prata</p>
                </div>
                <div class="col-lg-3 col-md-3 col-sm-3">
                    <a>
                        <img id="medalhaOuro" src="~/Content/img/Distribuicao/DESABILITADO2.png" />
                    </a>
                    <p>Ouro</p>
                </div>
                <div class="col-lg-3 col-md-3 col-sm-3">
                    <a>
                        <img id="medalhaPlatina" src="~/Content/img/Distribuicao/DESABILITADO2.png" />
                    </a>
                    <p>Platina</p>
                </div>
            </div>
        </div>
    </center>

    <hr />
        <div class="row">
            <div class="col-lg-1 col-md-1 col-sm-1">
                <div class="profile-header-container">
                    <div class="profile-header-img">                        
                        <img class="img-circle" src="~/Content/img/niveis_conquistados/1.png" />
                        <!-- badge -->
                        <div class="rank-label-container">
                            <span class="label label-info rank-label">Cria</span>
                        </div>
                    </div>
                </div>
            </div>

            <div class="col-lg-1 col-md-1 col-sm-1">
                <div class="profile-header-container">
                    <div class="profile-header-img">
                        <img class="img-circle" src="~/Content/img/niveis_conquistados/2.png" />
                        <!-- badge -->
                        <div class="rank-label-container">
                            <span class="label label-info rank-label">Fraldinha</span>
                        </div>
                    </div>
                </div>
            </div>

            <div class="col-lg-1 col-md-1 col-sm-1">
                <div class="profile-header-container">
                    <div class="profile-header-img">
                        <img class="img-circle" src="~/Content/img/niveis_conquistados/3.png" />
                        <!-- badge -->
                        <div class="rank-label-container">
                            <span class="label label-info rank-label">Dentinho</span>
                        </div>
                    </div>
                </div>
            </div>

            <div class="col-lg-1 col-md-1 col-sm-1">
                <div class="profile-header-container">
                    <div class="profile-header-img">
                        <img class="img-circle" src="~/Content/img/niveis_conquistados/4.png" />
                        <!-- badge -->
                        <div class="rank-label-container">
                            <span class="label label-info rank-label">Dente</span>
                        </div>
                    </div>
                </div>
            </div>

            <div class="col-lg-1 col-md-1 col-sm-1">
                <div class="profile-header-container">
                    <div class="profile-header-img">
                        <img class="img-circle" src="~/Content/img/niveis_conquistados/5.png" />
                        <!-- badge -->
                        <div class="rank-label-container">
                            <span class="label label-info rank-label">Juvenil</span>
                        </div>
                    </div>
                </div>
            </div>

            <div class="col-lg-1 col-md-1 col-sm-1">
                <div class="profile-header-container">
                    <div class="profile-header-img">
                        <img class="img-circle" src="~/Content/img/niveis_conquistados/6.png" />
                        <!-- badge -->
                        <div class="rank-label-container">
                            <span class="label label-info rank-label">Junior</span>
                        </div>
                    </div>
                </div>
            </div>

            <div class="col-lg-1 col-md-1 col-sm-1">
                <div class="profile-header-container">
                    <div class="profile-header-img">
                        <img class="img-circle" src="~/Content/img/niveis_conquistados/7.png" />
                        <!-- badge -->
                        <div class="rank-label-container">
                            <span class="label label-info rank-label">Pleno</span>
                        </div>
                    </div>
                </div>
            </div>

            <div class="col-lg-1 col-md-1 col-sm-1">
                <div class="profile-header-container">
                    <div class="profile-header-img">
                        <img class="img-circle" src="~/Content/img/niveis_conquistados/8.png" />
                        <!-- badge -->
                        <div class="rank-label-container">
                            <span class="label label-info rank-label">Sênior</span>
                        </div>
                    </div>
                </div>
            </div>

            <div class="col-lg-1 col-md-1 col-sm-1">
                <div class="profile-header-container">
                    <div class="profile-header-img">
                        <img class="img-circle" src="~/Content/img/niveis_conquistados/9.png" />
                        <!-- badge -->
                        <div class="rank-label-container">
                            <span class="label label-info rank-label">Master</span>
                        </div>
                    </div>
                </div>
            </div>

            <div class="col-lg-1 col-md-1 col-sm-1">
                <div class="profile-header-container">
                    <div class="profile-header-img">
                        <img class="img-circle" src="~/Content/img/niveis_conquistados/10.png" />
                        <!-- badge -->
                        <div class="rank-label-container">
                            <span class="label label-info rank-label">Especialista</span>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <hr />

    <div class="row">
        <div class="col-xs-12 col-sm-6 col-md-4 col-lg-3">
            <div class="offer offer-info">
                <div class="shape">
                    <div class="shape-text">
                        <span>@Model.Aluno.PontosDistribuicao</span>
                    </div>
                </div>
                <div class="offer-content">
                    <h4>
                        <strong>Distribuição de Frequência</strong>
                    </h4>
                    <p>
                        <label class="label label-info">@Model.Aluno.PontosFeitosDistribuicao</label> Pontos Conquistados                    
                        <br>
                        <div class="progress">
                            <div class="progress-bar progress-bar-info" role="progressbar" aria-valuenow="60" aria-valuemin="0" aria-valuemax="100" style="width: @Model.Aluno.ProgressoDistribuicao%">
                                @Model.Aluno.ProgressoDistribuicao%
                            </div>
                        </div>
                    </p>
                </div>
            </div>
        </div>
        <div class="col-xs-12 col-sm-6 col-md-4 col-lg-3">
            <div class="offer offer-info">
                <div class="shape">
                    <div class="shape-text">
                        <span>@Model.Aluno.PontosMedidasDeTendenciaCentral</span>
                    </div>
                </div>
                <div class="offer-content">
                    <h4>
                        <strong>Medidas de Tendência </strong>
                    </h4>
                    <p>
                        <label class="label label-info">@Model.Aluno.PontosFeitosMedidasDeTendenciaCentral</label> Pontos Conquistados
                        <br>
                        <div class="progress">
                            <div class="progress-bar progress-bar-info" role="progressbar" aria-valuenow="60" aria-valuemin="0" aria-valuemax="100" style="width: @Model.Aluno.PontosMedidasDeTendenciaCentral%">
                                @Model.Aluno.PontosMedidasDeTendenciaCentral%
                            </div>
                        </div>
                    </p>
                </div>
            </div>
        </div>
        <div class="col-xs-12 col-sm-6 col-md-4 col-lg-3">
            <div class="offer offer-info">
                <div class="shape">
                    <div class="shape-text">
                        <span>@Model.Aluno.PontosMedidasDeDispersao</span>
                    </div>
                </div>
                <div class="offer-content">
                    <h4>
                        <strong>Medidas de Dispersão</strong>
                    </h4>
                    <p>
                        <label class="label label-info">@Model.Aluno.PontosFeitosMedidasDeDispersao</label> Pontos Conquistados
                        <br>
                        <div class="progress">
                            <div class="progress-bar progress-bar-info" role="progressbar" aria-valuenow="60" aria-valuemin="0" aria-valuemax="100" style="width: @Model.Aluno.PontosMedidasDeDispersao%">
                                @Model.Aluno.PontosMedidasDeDispersao%
                            </div>
                        </div>
                    </p>
                </div>
            </div>
        </div>
        <div class="col-xs-12 col-sm-6 col-md-4 col-lg-3">
            <div class="offer offer-info">
                <div class="shape">
                    <div class="shape-text">
                        <span>@Model.Aluno.PontosAmostragemEstimadores</span>
                    </div>
                </div>
                <div class="offer-content">
                    <h4>
                        <strong>Amostragem e Estimadores</strong>
                    </h4>
                    <p>
                        <label class="label label-info">@Model.Aluno.PontosFeitosAmostragemEstimadores</label> Pontos Conquistados
                        <br>
                        <div class="progress">
                            <div class="progress-bar progress-bar-info" role="progressbar" aria-valuenow="60" aria-valuemin="0" aria-valuemax="100" style="width: @Model.Aluno.PontosAmostragemEstimadores%">
                                @Model.Aluno.PontosAmostragemEstimadores%
                            </div>
                        </div>
                    </p>
                </div>
            </div>
        </div>
    </div>

    <hr />

    <div class="row">
        <div class="col-lg-6 col-md-6 col-sm-6">
            @Html.Partial("~/Views/Topico/_PartialProgresso.cshtml", (USJT.Sigma.Model.Aluno)Model.Aluno)
        </div>
        <div class="col-lg-6 col-md-6 col-sm-6">
            @Html.Partial("~/Views/Topico/_PartialProgresso2.cshtml", (USJT.Sigma.Model.Aluno)Model.Aluno)
        </div>
    </div>
    <br /><br />
</div>