<div id="divAtividadesDistribuicao" class="row">
    <div class="col-lg-12 col-md-12 col-sm-12">
        @Html.Partial("PaineisAtividades/_PartialAtvIntroducaoADistribuicao")
        @Html.Partial("PaineisAtividades/_PartialAtvPontosValores")
        @Html.Partial("PaineisAtividades/_PartialAtvClassesIntervalos")
        @Html.Partial("PaineisAtividades/_PartialAtvElementos")
        @Html.Partial("PaineisAtividades/_PartialAtvRelativaPercentual")
        @Html.Partial("PaineisAtividades/_PartialAtvAcumuladaSimplesOuAbsoluta")
        @Html.Partial("PaineisAtividades/_PartialAtvAcumuladaRelativaOuPercentual")
        @Html.Partial("PaineisAtividades/_PartialAtvApresentacaoDeDistribuicaoFreq")
        @Html.Partial("PaineisAtividades/_PartialAtvFrequenciaPontosOuValores")        
        @Html.Partial("PaineisAtividades/_PartialAtvFrequenciaClassesOuIntervalos")        
    </div>
</div>
