@model List<USJT.Sigma.Model.Atividade>

<head>
    <link href="~/Content/wizardAtividade.css" rel="stylesheet" />
    <script src="~/scripts/wizard.js"></script>
    <link href="~/Content/corpo-padrao.css" rel="stylesheet" />
    <script src="~/scripts/dicas1.js"></script>
    <script src="~/scripts/dicas2.js"></script>
    <script src="~/scripts/dicas3.js"></script>
    <script src="~/scripts/dicas4.js"></script>
</head>

@{
    ViewBag.Title = "Distribuição de frequência por classes ou intervalos";
    Layout = "~/Views/Shared/_LayoutPadrao.cshtml";
}

@{
    double notaTotal = 0;

    foreach (var atividadesFeitas in Model)
    {
        <script>
            $(document).ready(function () {
                $("#@atividadesFeitas.NomeAtv").removeClass("glyphicon glyphicon-remove red").addClass("glyphicon glyphicon-ok green");
                $("#@atividadesFeitas.NomeAtv" + "1").removeClass("badge-red").addClass("badge-green");
            });
        </script>

        notaTotal += atividadesFeitas.Nota;
    }

    <script>
        $(document).ready(function () {
            $("#infoNota").text("Pontos: " + "@notaTotal");
        });
    </script>
}

@Html.Partial("_PartialDistribuicao")
<br />
<br />

<div class="container">
    <div class="col-lg-10 col-md-10 col-sm-10 jumbotron2" style="float:right">
        <fieldset>
            <legend class="h2">
                Distribuição de frequências por classes ou intervalos
                <span id="infoNota" title="Pontos" class="badge dir"></span>
            </legend>

            <div class="embed-responsive embed-responsive-16by9">
                <iframe width="816" height="459" src="https://www.youtube.com/embed/zpOULjyy-n8" frameborder="0" allowfullscreen></iframe>
            </div>

            <div class="container">
                <div class="row">
                    <div class="col-lg-12 col-md-12 col-sm-12">

                        <div class="wizard">
                            <div class="wizard-inner">
                                <div class="connecting-line"></div>
                                <ul class="nav nav-tabs" role="tablist">
                                    <li role="presentation" class="active">
                                        <a href="#step1" data-toggle="tab" aria-controls="step1" role="tab" title="Distribuição de frequência">
                                            <span class="round-tab">
                                                <div><span id="Atv1FrequenciaClassesOuIntervalos1" title="Pontos" class="badge-red dir">25</span></div>
                                                <i class="glyphicon glyphicon-pencil"></i>
                                            </span>
                                        </a>
                                    </li>

                                    <li role="presentation">
                                        <a href="#step2" data-toggle="tab" aria-controls="step2" role="tab" title="Medidas de Tendência Central">
                                            <span class="round-tab">
                                                <div><span id="Atv2FrequenciaClassesOuIntervalos1" title="Pontos" class="badge-red dir">150</span></div>
                                                <i class="glyphicon glyphicon-pencil"></i>
                                            </span>
                                        </a>
                                    </li>

                                    <li role="presentation">
                                        <a href="#step3" data-toggle="tab" aria-controls="step3" role="tab" title="Medidas de Dispersão">
                                            <span class="round-tab">
                                                <div><span id="Atv3FrequenciaClassesOuIntervalos1" title="Pontos" class="badge-red dir">200</span></div>
                                                <i class="glyphicon glyphicon-pencil"></i>
                                            </span>
                                        </a>
                                    </li>

                                    <li role="presentation">
                                        <a href="#complete" data-toggle="tab" aria-controls="complete" role="tab" title="Amostragem e Estimadores">
                                            <span class="round-tab">
                                                <div><span id="Atv4FrequenciaClassesOuIntervalos1" title="Pontos" class="badge-red dir">250</span></div>
                                                <i class="glyphicon glyphicon-pencil"></i>
                                            </span>
                                        </a>
                                    </li>
                                </ul>
                            </div>
                        </div>

                        <form role="form">
                            <div class="tab-content">
                                <div class="tab-pane active" role="tabpanel" id="step1">

                                    @* Questão 1 *@
                                    <div id="questao1">
                                        @using (Html.BeginForm())
                                        {
                                        <div class="row">
                                            <div class="col-lg-6 col-md-6 col-sm-6">
                                                <fieldset>
                                                    <legend>Exercício</legend>
                                                </fieldset>
                                                <p>
                                                    <strong>No final do ano, um determinado aluno alcançou as seguintes médias:</strong><br /><br />

                                                    Matemática: 7,5<br />
                                                    Português: 6,3<br />
                                                    História: 8,0<br />
                                                    Geografia: 7,2<br />
                                                    Inglês: 6,6<br />
                                                    Espanhol: 8,4<br />
                                                    Física: 9,0<br />
                                                    Química: 7,2<br />
                                                    Biologia: 8,0<br />
                                                    Educação Física: 9,5<br /><br />

                                                    <strong>Determine a média aritmética anual do aluno.</strong>
                                                </p>
                                            </div>


                                            <div class="col-lg-6 col-md-6 col-sm-6">
                                                <fieldset>
                                                    <legend>Resposta</legend>
                                                </fieldset>

                                                <div>
                                                    @Html.Hidden("NomeAtv", "Atv1FrequenciaClassesOuIntervalos")
                                                    @Html.Hidden("Nota", 25)

                                                    @Html.RadioButton("Resposta", false, true) 7,2
                                                    <br /><br />
                                                    @Html.RadioButton("Resposta", false) 6,8
                                                    <br /><br />
                                                    @Html.RadioButton("Resposta", false) 7,5
                                                    <br /><br />
                                                    @Html.RadioButton("Resposta", true) 7,8
                                                    <br /><br />
                                                    @Html.RadioButton("Resposta", false) 8,1
                                                    <br /><br />
                                                </div>
                                            </div>
                                        </div>

                                        @Html.Partial("DicasDistribuicao/_DicasApresentacaoClassesOuIntervalos1")                                            
                                        }
                                    </div>

                                    <hr />

                                    <ul class="list-inline pull-right">
                                        <li><button type="button" class="btn btn-primary next-step">Proximo >></button></li>
                                    </ul>
                                </div>
                                <div class="tab-pane" role="tabpanel" id="step2">

                                    @* Questão 2 *@
                                    <div id="questao2">
                                        @using (Html.BeginForm())
                                        {
                                            <div class="row">
                                                <div class="col-lg-6 col-md-6 col-sm-6">
                                                    <fieldset>
                                                        <legend>Exercício</legend>
                                                    </fieldset>
                                                    @*  *@
                                                </div>

                                                <div class="col-lg-6 col-md-6 col-sm-6">
                                                    <fieldset>
                                                        <legend>Resposta</legend>
                                                    </fieldset>

                                                    <div>
                                                        @Html.Hidden("NomeAtv", "Atv2FrequenciaClassesOuIntervalos")
                                                        @Html.Hidden("Nota", 150)

                                                        @Html.RadioButton("Resposta", false, true) 7,2
                                                        <br /><br />
                                                        @Html.RadioButton("Resposta", false) 6,8
                                                        <br /><br />
                                                        @Html.RadioButton("Resposta", false) 7,5
                                                        <br /><br />
                                                        @Html.RadioButton("Resposta", true) 7,8
                                                        <br /><br />
                                                        @Html.RadioButton("Resposta", false) 8,1
                                                        <br /><br />
                                                    </div>
                                                </div>
                                            </div>

                                            @Html.Partial("DicasDistribuicao/_DicasApresentacaoClassesOuIntervalos2")                                            
                                        }
                                    </div>

                                    <hr />

                                    <ul class="list-inline pull-right">
                                        <li><button type="button" class="btn btn-default prev-step"><< Voltar</button></li>
                                        <li><button type="button" class="btn btn-primary next-step">Proximo >></button></li>
                                    </ul>
                                </div>
                                <div class="tab-pane" role="tabpanel" id="step3">
                                    
                                    @* Questão 3 *@
                                    <div id="questao3">
                                        @using (Html.BeginForm())
                                        {
                                            <div class="row">
                                                <div class="col-lg-6 col-md-6 col-sm-6">
                                                    <fieldset>
                                                        <legend>Exercício</legend>
                                                    </fieldset>
                                                    @*  *@
                                                </div>

                                                <div class="col-lg-6 col-md-6 col-sm-6">
                                                    <fieldset>
                                                        <legend>Resposta</legend>
                                                    </fieldset>

                                                    <div>
                                                        @Html.Hidden("NomeAtv", "Atv3FrequenciaClassesOuIntervalos")
                                                        @Html.Hidden("Nota", 200)

                                                        @Html.RadioButton("Resposta", false, true) 7,2
                                                        <br /><br />
                                                        @Html.RadioButton("Resposta", false) 6,8
                                                        <br /><br />
                                                        @Html.RadioButton("Resposta", false) 7,5
                                                        <br /><br />
                                                        @Html.RadioButton("Resposta", true) 7,8
                                                        <br /><br />
                                                        @Html.RadioButton("Resposta", false) 8,1
                                                        <br /><br />
                                                    </div>
                                                </div>
                                            </div>

                                            @Html.Partial("DicasDistribuicao/_DicasApresentacaoClassesOuIntervalos4")
                                        }
                                    </div>

                                    <hr />

                                    <ul class="list-inline pull-right">
                                        <li><button type="button" class="btn btn-default prev-step"><< Voltar</button></li>
                                        <li><button type="button" class="btn btn-primary btn-info-full next-step">Proximo >></button></li>
                                    </ul>
                                </div>
                                <div class="tab-pane" role="tabpanel" id="complete">

                                    @* Questão 4 *@
                                    <div id="questao4">
                                        @using (Html.BeginForm())
                                        {
                                            <div class="row">
                                                <div class="col-lg-6 col-md-6 col-sm-6">
                                                    <fieldset>
                                                        <legend>Exercício</legend>
                                                    </fieldset>
                                                    @*  *@
                                                </div>

                                                <div class="col-lg-6 col-md-6 col-sm-6">
                                                    <fieldset>
                                                        <legend>Resposta</legend>
                                                    </fieldset>

                                                    <div>
                                                        @Html.Hidden("NomeAtv", "Atv4FrequenciaClassesOuIntervalos")
                                                        @Html.Hidden("Nota", 200)

                                                        @Html.RadioButton("Resposta", false, true) 7,2
                                                        <br /><br />
                                                        @Html.RadioButton("Resposta", false) 6,8
                                                        <br /><br />
                                                        @Html.RadioButton("Resposta", false) 7,5
                                                        <br /><br />
                                                        @Html.RadioButton("Resposta", true) 7,8
                                                        <br /><br />
                                                        @Html.RadioButton("Resposta", false) 8,1
                                                        <br /><br />
                                                    </div>
                                                </div>
                                            </div>

                                            @Html.Partial("DicasDistribuicao/_DicasApresentacaoClassesOuIntervalos4")
                                        }
                                    </div>

                                    <hr />

                                    <ul class="list-inline pull-right">
                                        <li><button type="button" class="btn btn-default prev-step"><< Voltar</button></li>
                                    </ul>
                                </div>
                                <div class="clearfix"></div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </fieldset>
    </div>
</div>