@model List<USJT.Sigma.Model.Atividade>

<script src="~/scripts/accordion.js"></script>

@{
    ViewBag.Title = "Introducao a Distribuicao";
    Layout = "~/Views/Shared/_LayoutPadrao.cshtml";
}

@{
    double notaTotal = 0;

    foreach (var atividadesFeitas in Model)
    {
        <script>
            $(document).ready(function () {
                $("#@atividadesFeitas.NomeAtv").removeClass("glyphicon glyphicon-remove red").addClass("glyphicon glyphicon-ok green");
            });
        </script>

        notaTotal += atividadesFeitas.Nota;
    }

    <script>
            $(document).ready(function () {
                $("#infoNota").text("Pontos: " + "@notaTotal");
            });
    </script>
}

@Html.Partial("_PartialDistribuicao")
<br />
<br />

<div class="container">
    <div class="col-lg-10 col-md-10 col-sm-10" style="float:right">
        <fieldset>
            <legend class="h2">
                Introdução e Conceitos de Distribuição
                <span id="infoNota" title="Pontos" class="badge dir"></span>
            </legend>

            <div class="embed-responsive embed-responsive-16by9">
                <iframe width="816" height="459" src="https://www.youtube.com/embed/zpOULjyy-n8" frameborder="0" allowfullscreen></iframe>
            </div>

            <div>
                <p>É uma das medidas de tendência central mais utilizadas no cotidiano. É determinada pelo resultado da divisão do somatório dos números dados pela quantidade de números somados.</p>
                <br />
                <p><strong>Para obter a média aritmética simples, você deverá realizar as seguintes operações:</strong></p>
                <p><strong>1º -</strong> Somar as quantidades de objeto.</p>
                <p><strong>2º -</strong> Dividir o resultado obtido da soma das quantidades pelo número de parcelas.</p>
            </div>
            <br />

            <div id="accordion">
                <h3>Questão 1 <span id="infoNota" title="Pontos" class="badge dir">50</span></h3>
                <div id="questao1">
                    @using (Html.BeginForm())
                    {
                        <div class="row">
                            <div class="col-lg-6 col-md-6 col-sm-6">
                                <fieldset>
                                    <legend>Exercício</legend>
                                </fieldset>
                                <p>
                                    <strong>No final do ano, um determinado aluno alcançou as seguintes médias:</strong><br /><br />

                                    Matemática: 7,5<br />
                                    Português: 6,3<br />
                                    História: 8,0<br />
                                    Geografia: 7,2<br />
                                    Inglês: 6,6<br />
                                    Espanhol: 8,4<br />
                                    Física: 9,0<br />
                                    Química: 7,2<br />
                                    Biologia: 8,0<br />
                                    Educação Física: 9,5<br /><br />

                                    <strong>Determine a média aritmética anual do aluno.</strong>
                                </p>
                            </div>


                            <div class="col-lg-6 col-md-6 col-sm-6">
                                <fieldset>
                                    <legend>Resposta</legend>
                                </fieldset>

                                <div>
                                    @Html.Hidden("NomeAtv", "Atv1IntroducaoADistribuicao")
                                    @Html.Hidden("Nota", 50)

                                    @Html.RadioButton("Resposta", false, true) 7,2
                                    <br /><br />
                                    @Html.RadioButton("Resposta", false) 6,8
                                    <br /><br />
                                    @Html.RadioButton("Resposta", false) 7,5
                                    <br /><br />
                                    @Html.RadioButton("Resposta", true) 7,8
                                    <br /><br />
                                    @Html.RadioButton("Resposta", false) 8,1
                                    <br /><br />
                                </div>
                            </div>
                        </div>

                        <div>
                            <div id="divDica1" hidden="hidden">
                                <hr />
                                <p><strong>Dica 1</strong></p>
                                <p>( 7,5 + 6,3 + 8,0 + 7,2 + 6,6 + 8,4 + 9,0 + 7,2 + 8,0 + 9,5 ) / 10</p>
                            </div>
                            <div id="divDica2" hidden="hidden">
                                <hr />
                                <p><strong>Dica 2</strong></p>
                                <p>( 7,5 + 6,3 + 8,0 + 7,2 + 6,6 + 8,4 + 9,0 + 7,2 + 8,0 + 9,5 ) / 10</p>
                                <p>Primeiro Realizamos todas as somas. Logo após dividimos por 10 que é o número de elementos.</p>
                                <p>Média: 7,8</p>
                            </div>
                            <div id="divDica3" hidden="hidden">
                                <hr />
                                <p>Dica de numero 3</p>
                            </div>
                        </div>

                        <script>
                            function Dica1() {
                                $("#divDica1").removeAttr("hidden");
                                $("#btnDica1").attr("id", "btnDica2");
                                $("#btnDica2").attr("onclick", "Dica2()");
                            }

                            function Dica2() {
                                $("#divDica2").removeAttr("hidden");
                                $("#btnDica2").prop("disabled", true);
                                //$("#btnDica2").attr("id", "btnDica3");
                                //$("#btnDica3").attr("onclick", "Dica3()");
                            }

                            //function Dica3() {
                            //    $("#divDica3").removeAttr("hidden");
                            //}
                        </script>

                        <div class="row">
                            <div class="col-lg-12 col-md-12 col-sm-12">
                                <hr />
                                <div class="col-lg-5 col-md-5 col-sm-5">
                                    <span id="Atv1IntroducaoADistribuicao" class="glyphicon glyphicon-remove red icon-lg"></span>

                                </div>

                                <div class="col-lg-2 col-md-2 col-sm-2">
                                    <input id="btnDica1" type="button" onclick="Dica1()" value="Dicas" class="btn btn-warning" style="float: unset" />

                                </div>

                                <div class="col-lg-5 col-md-5 col-sm-5">
                                    <input type="submit" name="salvarSubTopico" value="Conferir Resposta" class="btn btn-lg btn-success dir">
                                </div>
                            </div>
                        </div>
                    }
                </div>
                <h3>Questão 2</h3>
                <div>
                    @using (Html.BeginForm())
                    {
                        <div class="row">
                            <div class="col-lg-6 col-md-6 col-sm-6">
                                <fieldset>
                                    <legend>Exercício</legend>
                                </fieldset>
                            </div>

                            <div class="col-lg-6 col-md-6 col-sm-6">
                                <fieldset>
                                    <legend>Resposta</legend>
                                </fieldset>

                                <div>
                                    @Html.Hidden("NomeAtv", "Atv2IntroducaoADistribuicao")

                                    @Html.RadioButton("Resposta", false, true) 7,2
                                    <br /><br />
                                    @Html.RadioButton("Resposta", false) 6,8
                                    <br /><br />
                                    @Html.RadioButton("Resposta", false) 7,5
                                    <br /><br />
                                    @Html.RadioButton("Resposta", true) 7,8
                                    <br /><br />
                                    @Html.RadioButton("Resposta", false) 8,1
                                    <br /><br />
                                </div>
                            </div>
                        </div>

                        <div class="row">
                            <div class="col-lg-12 col-md-12 col-sm-12">
                                <hr />
                                <span id="Atv2IntroducaoADistribuicao" class="glyphicon glyphicon-remove red icon-lg"></span>

                                <input type="submit" name="salvarSubTopico" value="Conferir Resposta" class="btn btn-lg btn-success" style="float: right">
                            </div>
                        </div>
                    }
                </div>
                <h3>Questão 3</h3>
                <div>
                    @using (Html.BeginForm())
                    {
                        <div class="row">
                            <div class="col-lg-6 col-md-6 col-sm-6">
                                <fieldset>
                                    <legend>Exercício 3</legend>
                                </fieldset>
                            </div>


                            <div class="col-lg-6 col-md-6 col-sm-6">
                                <fieldset>
                                    <legend>Resposta</legend>
                                </fieldset>

                                <div>
                                    @Html.Hidden("NomeAtv", "Atv3IntroducaoADistribuicao")

                                    @Html.RadioButton("Resposta", false, true) 7,2
                                    <br /><br />
                                    @Html.RadioButton("Resposta", false) 6,8
                                    <br /><br />
                                    @Html.RadioButton("Resposta", false) 7,5
                                    <br /><br />
                                    @Html.RadioButton("Resposta", true) 7,8
                                    <br /><br />
                                    @Html.RadioButton("Resposta", false) 8,1
                                    <br /><br />
                                </div>
                            </div>
                        </div>

                        <div class="row">
                            <div class="col-lg-12 col-md-12 col-sm-12">
                                <hr />
                                <span id="Atv3IntroducaoADistribuicao" class="glyphicon glyphicon-remove red icon-lg"></span>

                                <input type="submit" name="salvarSubTopico" value="Conferir Resposta" class="btn btn-lg btn-success" style="float: right">
                            </div>
                        </div>
                    }
                </div>
                <h3>Questão 4</h3>
                <div>
                    @using (Html.BeginForm())
                    {
                        <div class="row">
                            <div class="col-lg-6 col-md-6 col-sm-6">
                                <fieldset>
                                    <legend>Exercício 4</legend>
                                </fieldset>
                            </div>


                            <div class="col-lg-6 col-md-6 col-sm-6">
                                <fieldset>
                                    <legend>Resposta</legend>
                                </fieldset>

                                <div>
                                    @Html.Hidden("NomeAtv", "Atv4IntroducaoADistribuicao")

                                    @Html.RadioButton("Resposta", false, true) 7,2
                                    <br /><br />
                                    @Html.RadioButton("Resposta", false) 6,8
                                    <br /><br />
                                    @Html.RadioButton("Resposta", false) 7,5
                                    <br /><br />
                                    @Html.RadioButton("Resposta", true) 7,8
                                    <br /><br />
                                    @Html.RadioButton("Resposta", false) 8,1
                                    <br /><br />
                                </div>
                            </div>
                        </div>

                        <div class="row">
                            <div class="col-lg-12 col-md-12 col-sm-12">
                                <hr />
                                <span id="Atv4IntroducaoADistribuicao" class="glyphicon glyphicon-remove red icon-lg"></span>

                                <input type="submit" name="salvarSubTopico" value="Conferir Resposta" class="btn btn-lg btn-success" style="float: right">
                            </div>
                        </div>

                    }
                </div>
            </div>
        </fieldset>

    </div>

</div>