@using USJT.Sigma.Repositorio
@model dynamic

<head>
    <link href="~/Content/wizardAtividade.css" rel="stylesheet" />
    <script src="~/scripts/wizard.js"></script>
    <link href="~/Content/corpo-padrao.css" rel="stylesheet" />
</head>

@{
    ViewBag.Title = "Introdução e Conceitos de Distribuição";
    Layout = "~/Views/Shared/_LayoutPadrao.cshtml";
    VideoREP videoREP = new VideoREP();
    AtividadeREP atividadeREP = new AtividadeREP();
}

@{
    double notaTotal = 0;
    //if (Model.Count > 0)
    //{
    foreach (var atividadesFeitas in Model.atividadesFeitas)
    {
        <script>
            $(document).ready(function () {
                $("#@atividadesFeitas.Atividade.NomeAtv").removeClass("glyphicon glyphicon-remove red").addClass("glyphicon glyphicon-ok green");
                $("#@atividadesFeitas.Atividade.NomeAtv" + "1").removeClass("badge-red").addClass("badge-green");
            });
        </script>

        notaTotal += atividadesFeitas.Atividade.Nota;
    }
    //}

    <script>
        $(document).ready(function () {
            $("#infoNota").text("Pontos: " + "@notaTotal");
        });
    </script>
}

@for (int i = 0; i < Model.atividades.Count; i++)
{
    <div id="camposAtividade">
        <fieldset>
            <legend>@Model.atividades[i].DescricaoTitulo - @Model.atividades[i].DescricaoSubTitulo</legend>
        </fieldset>
        <p>
            <strong>Descrição:</strong> @Model.atividades[i].DescricaoAtividade
        </p>
        <p>
            <strong>@Model.atividades[i].DescricaoPergunta</strong>
        </p>
    </div>

    <script>
        $(document).ready(function () {
            $("#divCamposAtv" + @i).append($("#camposAtividade"));
        });
    </script>
}

@Html.Partial("_PartialDistribuicao")
<br />
<br />

<div class="container">
    <div class="col-lg-10 col-md-10 col-sm-10 jumbotron2" style="float:right">
        <fieldset>
            <legend class="h2">
                Distribuição de frequências por classes ou intervalos
                <span id="infoNota" title="Pontos" class="badge dir"></span>
            </legend>

            <div class="embed-responsive embed-responsive-16by9">
                <iframe width="816" height="459" src="@videoREP.BuscaVideoPorSubTopico(1, "IntroducaoADistribuicao")" frameborder="0" allowfullscreen></iframe>
            </div>

            <div class="container-fluid">
                <div class="row">
                    <div class="col-lg-12 col-md-12 col-sm-12">
                        <div class="wizard">
                            <div class="wizard-inner">
                                <div class="connecting-line"></div>
                                <ul class="nav nav-tabs" role="tablist">
                                    <li role="presentation" class="active">
                                        <a href="#step1" data-toggle="tab" aria-controls="step1" role="tab" title="Distribuição de frequência">
                                            <span class="round-tab">
                                                <div><span id="Atv1IntroducaoADistribuicao1" title="Pontos" class="badge-red dir">@Model.atividades[0].Nota</span></div>
                                                <i class="glyphicon glyphicon-pencil"></i>
                                            </span>
                                        </a>
                                    </li>

                                    <li role="presentation">
                                        <a href="#step2" data-toggle="tab" aria-controls="step2" role="tab" title="Medidas de Tendência Central">
                                            <span class="round-tab">
                                                <div><span id="Atv2IntroducaoADistribuicao1" title="Pontos" class="badge-red dir">@Model.atividades[1].Nota</span></div>
                                                <i class="glyphicon glyphicon-pencil"></i>
                                            </span>
                                        </a>
                                    </li>

                                    <li role="presentation">
                                        <a href="#step3" data-toggle="tab" aria-controls="step3" role="tab" title="Medidas de Dispersão">
                                            <span class="round-tab">
                                                <div><span id="Atv3IntroducaoADistribuicao1" title="Pontos" class="badge-red dir">@Model.atividades[2].Nota</span></div>
                                                <i class="glyphicon glyphicon-pencil"></i>
                                            </span>
                                        </a>
                                    </li>

                                    <li role="presentation">
                                        <a href="#complete" data-toggle="tab" aria-controls="complete" role="tab" title="Amostragem e Estimadores">
                                            <span class="round-tab">
                                                <div><span id="Atv4IntroducaoADistribuicao1" title="Pontos" class="badge-red dir">@Model.atividades[3].Nota</span></div>
                                                <i class="glyphicon glyphicon-pencil"></i>
                                            </span>
                                        </a>
                                    </li>
                                </ul>
                            </div>
                        </div>

                        <div class="tab-content">
                            <div class="tab-pane active" role="tabpanel" id="step1">
                                @* Questão 1 *@
                                <div id="questao1">
                                    @using (Html.BeginForm())
                                    {
                                        <div class="row">
                                            <div id="divCamposAtv0" class="col-lg-12 col-md-12 col-sm-12">

                                            </div>

                                            <div class="col-lg-12 col-md-12 col-sm-12">
                                                <div>
                                                    @Html.Hidden("IdAtividade", 1)

                                                    @Html.RadioButton("ListaDeRespostas", atividadeREP.RespostaExata(1), true) @atividadeREP.RespostaExata(1)
                                                    <br /><br />
                                                    @Html.RadioButton("ListaDeRespostas", "Uma distribuição de frequência é uma tabela com valores aleatórios.") Uma distribuição de frequência é uma tabela com valores aleatórios. Desde que os valores não ultrapassem o limite de 128 valores.
                                                    <br /><br />
                                                    @Html.RadioButton("ListaDeRespostas", "Uma distribuição de frequência é um método de se dispersar dados em classes.") Uma distribuição de frequência é um método de se dispersar dados em classes.
                                                    <br /><br />
                                                    @Html.RadioButton("ListaDeRespostas", "Uma distribuição de frequência é formada por 4 linhas e 10 colunas (por padrão).") Uma distribuição de frequência é formada por 4 linhas e 10 colunas (por padrão).
                                                    <br /><br />
                                                    @Html.RadioButton("ListaDeRespostas", "A distribuição de frequência é desenvolvida com valores entre 1 e 99.") A distribuição de frequência é desenvolvida com valores entre 1 e 99.
                                                    <br /><br />
                                                </div>
                                            </div>
                                        </div>

                                        @* BOTOES FIXOS *@
                                        <div class="row">
                                            <div class="col-lg-12 col-md-12 col-sm-12">
                                                <hr />
                                                <div class="col-lg-5 col-md-5 col-sm-5">
                                                    <span id="Atv1IntroducaoADistribuicao" class="glyphicon glyphicon-remove red icon-lg"></span>
                                                </div>

                                                <div class="col-lg-2 col-md-2 col-sm-2">
                                                    <input type="button" value="Dicas" class="disabled btn btn-warning" />
                                                </div>

                                                <div class="col-lg-5 col-md-5 col-sm-5">
                                                    <input type="submit" name="salvarAtividade" value="Conferir Resposta" class="btn btn-lg btn-success dir">
                                                </div>
                                            </div>
                                        </div>
                                    }
                                </div>

                                <hr />

                                <div>
                                    <ul class="list-inline pull-right">
                                        <li><button type="button" class="btn btn-primary next-step">Proximo >></button></li>
                                    </ul>
                                </div>
                            </div>

                            <div class="tab-pane" role="tabpanel" id="step2">
                                @* Questão 2 *@
                                <div id="questao1">
                                    @using (Html.BeginForm())
                                    {
                                        <div class="row">
                                            <div id="divCamposAtv1" class="col-lg-12 col-md-12 col-sm-12">

                                            </div>

                                            <div class="col-lg-12 col-md-12 col-sm-12">
                                                <div>
                                                    @Html.Hidden("IdAtividade", 2)

                                                    @Html.RadioButton("ListaDeRespostas", atividadeREP.RespostaExata(2), true) @atividadeREP.RespostaExata(2)
                                                    <br /><br />
                                                    @Html.RadioButton("ListaDeRespostas", "Para melhor vizualizar os valores individuais.") Para melhor vizualizar os valores individuais.
                                                    <br /><br />
                                                    @Html.RadioButton("ListaDeRespostas", "Para vizualizar os valores em questão.") Para vizualizar os valores em questão.
                                                    <br /><br />
                                                    @Html.RadioButton("ListaDeRespostas", "A distribuição de frequência não tem uma definição.") A distribuição de frequência não tem uma definição.
                                                    <br /><br />
                                                    @Html.RadioButton("ListaDeRespostas", "Nenhuma alternativa define de fato a distribuição de frequência.") Nenhuma alternativa define de fato a distribuição de frequência.
                                                    <br /><br />
                                                </div>
                                            </div>
                                        </div>

                                        @* BOTOES FIXOS *@
                                        <div class="row">
                                            <div class="col-lg-12 col-md-12 col-sm-12">
                                                <hr />
                                                <div class="col-lg-5 col-md-5 col-sm-5">
                                                    <span id="Atv2IntroducaoADistribuicao" class="glyphicon glyphicon-remove red icon-lg"></span>
                                                </div>

                                                <div class="col-lg-2 col-md-2 col-sm-2">
                                                    <input type="button" value="Dicas" class="disabled btn btn-warning" style="float: unset" />
                                                </div>

                                                <div class="col-lg-5 col-md-5 col-sm-5">
                                                    <input type="submit" name="salvarAtividade" value="Conferir Resposta" class="btn btn-lg btn-success dir">
                                                </div>
                                            </div>
                                        </div>
                                    }
                                </div>

                                <hr />

                                <ul class="list-inline pull-right">
                                    <li><button type="button" class="btn btn-default prev-step"><< Voltar</button></li>
                                    <li><button type="button" class="btn btn-primary next-step">Proximo >></button></li>
                                </ul>
                            </div>
                            <div class="tab-pane" role="tabpanel" id="step3">

                                @* Questão 3 *@
                                @using (Html.BeginForm())
                                {
                                    <div class="row">
                                        <div id="divCamposAtv2" class="col-lg-12 col-md-12 col-sm-12">

                                        </div>

                                        <div class="col-lg-12 col-md-12 col-sm-12">
                                            <div>
                                                @Html.Hidden("IdAtividade", 3)

                                                @Html.RadioButton("ListaDeRespostas", atividadeREP.RespostaExata(3), true) @atividadeREP.RespostaExata(3)
                                                <br /><br />
                                                @Html.RadioButton("ListaDeRespostas", "Somente em Porcentagem.") Somente em Porcentagem.
                                                <br /><br />
                                                @Html.RadioButton("ListaDeRespostas", "Somente em Porcentagem.") Somente em Quantidade.
                                                <br /><br />
                                                @Html.RadioButton("ListaDeRespostas", "Linhas e Colunas.") Linhas e Colunas.
                                                <br /><br />
                                                @Html.RadioButton("ListaDeRespostas", "Tabele e Unidade.") Tabele e Unidade.
                                                <br /><br />
                                            </div>
                                        </div>
                                    </div>
                                    
                                    @* BOTOES FIXOS *@
                                    <div class="row">
                                        <div class="col-lg-12 col-md-12 col-sm-12">
                                            <hr />
                                            <div class="col-lg-5 col-md-5 col-sm-5">
                                                <span id="Atv3IntroducaoADistribuicao" class="glyphicon glyphicon-remove red icon-lg"></span>
                                            </div>

                                            <div class="col-lg-2 col-md-2 col-sm-2">
                                                <input type="button" value="Dicas" class="disabled btn btn-warning" style="float: unset" />
                                            </div>

                                            <div class="col-lg-5 col-md-5 col-sm-5">
                                                <input type="submit" name="salvarAtividade" value="Conferir Resposta" class="btn btn-lg btn-success dir">
                                            </div>
                                        </div>
                                    </div>
                                }
                                <hr />

                                <ul class="list-inline pull-right">
                                    <li><button type="button" class="btn btn-default prev-step"><< Voltar</button></li>
                                    <li><button type="button" class="btn btn-primary btn-info-full next-step">Proximo >></button></li>
                                </ul>
                            </div>
                            <div class="tab-pane" role="tabpanel" id="complete">

                                @* Questão 4 *@
                                @using (Html.BeginForm())
                                {
                                    <div class="row">
                                        <div id="divCamposAtv3" class="col-lg-12 col-md-12 col-sm-12">

                                        </div>

                                        <div class="col-lg-12 col-md-12 col-sm-12">
                                            <div>
                                                @Html.Hidden("IdAtividade", 4)

                                                @Html.RadioButton("ListaDeRespostas", atividadeREP.RespostaExata(4), true) @atividadeREP.RespostaExata(4)
                                                <br /><br />
                                                @Html.RadioButton("ListaDeRespostas", "Tabelas e gráficos, podemos obter: a média aritmética e o desvio padrão.") Tabelas e gráficos, podemos obter: a média aritmética e o desvio padrão.
                                                <br /><br />
                                                @Html.RadioButton("ListaDeRespostas", "Somente gráficos, podemos obter: a média aritmética e ponderada.") Somente gráficos, podemos obter: a média aritmética e ponderada.
                                                <br /><br />
                                                @Html.RadioButton("ListaDeRespostas", "Somente tabelas, podemos obter: a média aritmética e ponderada.") Somente tabelas, podemos obter: a média aritmética e ponderada.
                                                <br /><br />
                                                @Html.RadioButton("ListaDeRespostas", "Somente tabelas, podemos obter: a média aritmética, ponderada e desvio.") Somente tabelas, podemos obter: a média aritmética, ponderada e desvio.
                                                <br /><br />
                                            </div>
                                        </div>
                                    </div>

                                    @* BOTOES FIXOS *@
                                    <div class="row">
                                        <div class="col-lg-12 col-md-12 col-sm-12">
                                            <hr />
                                            <div class="col-lg-5 col-md-5 col-sm-5">
                                                <span id="Atv4IntroducaoADistribuicao" class="glyphicon glyphicon-remove red icon-lg"></span>
                                            </div>

                                            <div class="col-lg-2 col-md-2 col-sm-2">
                                                <input type="button" value="Dicas" class="disabled btn btn-warning" style="float: unset" />
                                            </div>

                                            <div class="col-lg-5 col-md-5 col-sm-5">
                                                <input type="submit" name="salvarAtividade" value="Conferir Resposta" class="btn btn-lg btn-success dir">
                                            </div>
                                        </div>
                                    </div>
                                }
                                <hr />

                                <ul class="list-inline pull-right">
                                    <li><button type="button" class="btn btn-default prev-step"><< Voltar</button></li>
                                </ul>
                            </div>
                            <div class="clearfix"></div>
                        </div>
                    </div>
                </div>
            </div>
        </fieldset>
    </div>
</div>
